SUPABASE_URL=https://rpryohbdamlwkfwmromb.supabase.co/
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJwcnlvaGJkYW1sd2tmd21yb21iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTkzMjg3NiwiZXhwIjoyMDk1NTA4ODc2fQ.VNP_RCDMOHpukL4fsHS27-s4JhKriDz-sbTTeZp7DcU
SECRET_KEY=sb_secret_TqPss7c8lJNtAhcjOBce3w_HhSnGenz
ALGORITHM=HS256
